<div class="home">{% assign category=page.category %}

  <h1 class="page-heading">Posts{% if category %} of category {{ category | capitalize }}{% endif %}</h1>

  <ul class="post-list">
    {% for post in include.post_list %}
    {% capture qual_url%}{{ post.url | prepend: site.baseurl }}{% endcapture %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    {% if post.external_url %}
      <h2><a class="post-link external" href="{{ post.external_url }}" target="_blank" data-stub="{{ qual_url }}">[{{ post.external }}] {{ post.title }}</a></h2>
      {{ post.excerpt }}
    {% else %}
      <h2><a class="post-link" href="{{ qual_url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
      <span class="post-meta"><a href="{{ qual_url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a></span>
    {% endif %}
    </li>
    {% endfor %}
  </ul>{% assign category=page.category %}
  {% capture prefix %}{% if category %}/categories/{{ category | slugify }}{% endif %}{% endcapture %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: prefix | prepend: site.baseurl }}">via RSS</a></p>

</div>